@page "/account-specs"
@using OnlineMinion.Contracts.Responses

@code
{
  internal static class Str
  {
    public const string PageTitle = "Account Specs";
    public const string MainHeading = "Account Specifications";
    public const string MainDescription = "Manage Account Specifications";
    public const string NoContent = "No content to page | loading ...";
    public const string Loading = "Loading ...";
    public const string NoItems = "No items.";
    public const string DeleteBtn = "❌";
    public const string EditBtn = "✏️";
    public const string Name = nameof(AccountSpecResp.Name);
    public const string Group = nameof(AccountSpecResp.Group);
    public const string Description = nameof(AccountSpecResp.Description);
  }

}

<AppPageTitle>@Str.PageTitle</AppPageTitle>

<h1>@Str.MainHeading</h1>

<p>@Str.MainDescription</p>

@if (_paging is null)
{
  <p>@Str.NoContent</p>
}
else
{
  <ToolbarForTabular OnAdd="@OnAddHandler">
    <Pager OnPageChanged="@PageChanged" OnPageSizeChanged="@PageSizeChanged" PagingMetaInfo="@_paging.Value"/>
  </ToolbarForTabular>
}

@if (_vm is null)
{
  <p>
    <em>@Str.Loading</em>
  </p>
}
else if (!_vm.Any())
{
  <p>
    <em>@Str.NoItems</em>
  </p>
}
else
{
  <table class="table">
    <thead>
    <tr>
      <th>@Str.Name</th>
      <th>@Str.Group</th>
      <th>@Str.Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody style="overflow-y:scroll" tabindex="-1">
    <Virtualize Context="m" Items="_vm">
      <tr>
        <td>@m.Name</td>
        <td>@m.Group</td>
        <td>@m.Description</td>
        <td>
          <button class="btn btn-outline-danger" @onclick="@(() => OnDeleteHandler(m.Id))">@Str.DeleteBtn</button>
          <button class="btn btn-outline-warning" @onclick="@(() => OnEditHandler(m.Id))">@Str.EditBtn</button>
        </td>
      </tr>
    </Virtualize>
    </tbody>
  </table>
}

@*TODO: Set focus to modal, if it is opened.*@
<CascadingValue IsFixed="@true" Value="@CT">
  <AccountSpecsUpsertEditor IsSubmitting="@_isSubmitting" Model="@_modelUpsert" OnSubmit="@OnUpsertSubmitHandler" @ref="@_upsertEditorRef"/>
</CascadingValue>

<AccountSpecsDeleteDialog Model="@_modelDelete" OnConfirm="OnDeleteConfirmHandler" @ref="@_deleteDialogRef"/>
