@page "/account-specs"
@using OnlineMinion.Contracts.AccountSpec.Responses
@inherits BaseCRUDPage<
            AccountSpecResp,
            AccountSpecResp,
            OnlineMinion.Contracts.AccountSpec.Requests.BaseUpsertAccountSpecReqData
            >

@code
{
  protected override RenderFragment RenderEditorComponent() =>
    @<CascadingValue IsFixed="@true" Value="@CT">
      <AccountSpecsEditor
          Model="@UpsertVM"
          OnCancel="@CloseEditorDialog"
          OnSubmit="@OnUpsertSubmitHandlerAsync"
          WrapperRef="@EditorWrapperRef"/>
    </CascadingValue>;

  private static class Str
  {
    public const string PageTitle = "Account Specs";
    public const string MainHeading = "Account Specifications";
    public const string MainDescription = $"Manage {MainHeading}";
    public const string Name = nameof(AccountSpecResp.Name);
    public const string Group = nameof(AccountSpecResp.Group);
    public const string Description = nameof(AccountSpecResp.Description);
  }

}

<AppPageTitle Text="@Str.PageTitle"/>

<main>
  <RadzenText class="rz-mt-4" Text="@Str.MainHeading" TextStyle="TextStyle.H3"/>
  <RadzenText Text="@Str.MainDescription"/>
  <RadzenDataGridWrapper AddClick="@OnAddHandler"
      Data="@ViewModels"
      DeleteClick="@OnDeleteHandlerAsync"
      EditClick="@OnEditHandler"
      LoadData="@OnLoadDataHandlerAsync"
      Page="@PagerChangeHandler"
      PageSizeOptions="@PageSizeOptions"
      @ref="@GridWrapperRef"
      TItem="AccountSpecResp"
      TotalItemsCount="@TotalItemsCount">
    <Columns>
      <RadzenDataGridColumn Property="@Str.Name" TItem="AccountSpecResp" Title="@Str.Name"/>
      <RadzenDataGridColumn Property="@Str.Group" TItem="AccountSpecResp" Title="@Str.Group"/>
      <RadzenDataGridColumn Property="@Str.Description" TItem="AccountSpecResp" Title="@Str.Description"/>
    </Columns>
  </RadzenDataGridWrapper>
</main>
