@page "/account-specs"
@using OnlineMinion.Contracts.Responses
@inherits OnlineMinion.Web.Pages.Base.BaseCRUDPage<AccountSpecResp>

@code
{
  protected override RenderFragment RenderEditorComponent() =>
    @<CascadingValue IsFixed="@true" Value="@CT">
      <AccountSpecsEditor
          Model="@_modelUpsert"
          OnCancel="@CloseEditorDialog"
          OnSubmit="@OnUpsertSubmitHandler"
          @ref="@_editorRef"/>
    </CascadingValue>;

  private static class Str
  {
    public const string PageTitle = "Account Specs";
    public const string MainHeading = "Account Specifications";
    public const string MainDescription = $"Manage {MainHeading}";
    public const string Name = nameof(AccountSpecResp.Name);
    public const string Group = nameof(AccountSpecResp.Group);
    public const string Description = nameof(AccountSpecResp.Description);
  }

}

<AppPageTitle Text="@Str.PageTitle"/>

<main>
  <RadzenText class="rz-mt-4" Text="@Str.MainHeading" TextStyle="TextStyle.H3"/>
  <RadzenText Text="@Str.MainDescription"/>
  <RadzenDataGridWrapper AddClick="@OnAddHandler"
      Data="@ViewModels"
      DeleteClick="@OnDeleteHandler"
      EditClick="@OnEditHandler"
      LoadData="@OnLoadDataHandler"
      Page="@PagerChangeHandler"
      PageSizeOptions="@_pageSizeOptions"
      @ref="@_gridWrapperRef"
      TItem="AccountSpecResp"
      TotalItemsCount="@TotalItemsCount">
    <Columns>
      <RadzenDataGridColumn Property="@Str.Name" TItem="AccountSpecResp" Title="@Str.Name"/>
      <RadzenDataGridColumn Property="@Str.Group" TItem="AccountSpecResp" Title="@Str.Group"/>
      <RadzenDataGridColumn Property="@Str.Description" TItem="AccountSpecResp" Title="@Str.Description"/>
    </Columns>
  </RadzenDataGridWrapper>
</main>
