@page "/account-specs"
@using OnlineMinion.Contracts.Responses

<AppPageTitle>Account Specs</AppPageTitle>

<h1>Account Specifications</h1>

<p>Manage Account Specifications</p>

@if (_paging is null)
{
  <p>No content to page | loading ...</p>
}
else
{
  <ToolbarForTabular OnAdd="@OnAddHandler">
    <Pager OnPageChanged="@PageChanged" OnPageSizeChanged="@PageSizeChanged" PagingMetaInfo="@_paging.Value"/>
  </ToolbarForTabular>
}

@if (_vm is null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else if (!_vm.Any())
{
  <p>
    <em>No items.</em>
  </p>
}
else
{
  <table class="table">
    <thead>
    <tr>
      <th>@nameof(_modelUpsert.Name)</th>
      <th>@nameof(_modelUpsert.Group)</th>
      <th>@nameof(_modelUpsert.Description)</th>
      <th></th>
    </tr>
    </thead>
    <tbody style="overflow-y:scroll" tabindex="-1">
    <Virtualize Context="m" Items="_vm">
      <tr>
        <td>@m.Name</td>
        <td>@m.Group</td>
        <td>@m.Description</td>
        <td>
          <button class="btn btn-outline-danger" @onclick="@(() => OnDeleteHandler(m.Id))">❌</button>
          <button class="btn btn-outline-warning" @onclick="@(() => OnEditHandler(m.Id))">🛠️</button>
        </td>
      </tr>
    </Virtualize>
    </tbody>
  </table>
}

@*TODO: Set focus to modal, if it is opened.*@
<ModalDialog @ref="@_modalUpsert" Title="@_modalUpsertTitle">
  <AccountSpecsPageEditor IsSubmitting="@_isSubmitting" Model="@_modelUpsert" OnValidSubmit="@OnValidSubmitHandler" @ref="@_editorRef"/>
</ModalDialog>

<ModalDialog @ref="@_modalDelete" Title="@_modalDeleteTitle">
  <div class="row">
    <h3>
      Confirm deletion
    </h3>

    <h6>@nameof(AccountSpecResp.Name)</h6>
    <h5>@_modelDelete?.Name</h5>

    <h6>@nameof(AccountSpecResp.Group)</h6>
    <h5>@_modelDelete?.Group</h5>

    <h6>@nameof(AccountSpecResp.Description)</h6>
    <h5>@_modelDelete?.Description</h5>

    <button class="btn btn-outline-danger" @onclick="@OnDeleteSubmitHandler">Submit</button>
  </div>
</ModalDialog>
