@page "/payment-specs"
@using OnlineMinion.Web.ViewModels.CurrencyInfo
@using OnlineMinion.Contracts.PaymentSpec.Responses
@inherits BaseCRUDPage<
            PaymentSpecResp,
            PaymentSpecResp,
            OnlineMinion.Contracts.PaymentSpec.Requests.BaseUpsertPaymentSpecReqData
            >

@code
{
  protected override RenderFragment RenderEditorComponent() =>
    @<CascadingValue IsFixed="@true" Value="@CT">
      <PaymentSpecsEditor
          CurrencyInfoVMs="_currencyCodes"
          Model="@UpsertVM"
          OnCancel="@CloseEditorDialog"
          OnSubmit="@OnUpsertSubmitHandlerAsync"
          @ref="@_editorRef"/>
    </CascadingValue>;

  private static class Str
  {
    public const string PageTitle = "Payment Specs";
    public const string MainHeading = "Payment Specifications";
    public const string MainDescription = $"Manage {MainHeading}";
    public const string Name = nameof(PaymentSpecResp.Name);
    public const string CurrencyCode = nameof(PaymentSpecResp.CurrencyCode);
    public const string CurrencyCodeField = "Currency";
    public const string Tags = nameof(PaymentSpecResp.Tags);
  }

}

<AppPageTitle Text="@Str.PageTitle"/>

<main>
  <RadzenText class="rz-mt-4" Text="@Str.MainHeading" TextStyle="TextStyle.H3"/>
  <RadzenText Text="@Str.MainDescription"/>
  <RadzenDataGridWrapper
      AddClick="@OnAddHandler"
      Data="@ViewModels"
      DeleteClick="@OnDeleteHandlerAsync"
      EditClick="@OnEditHandler"
      LoadData="@OnLoadDataHandlerAsync"
      Page="@PagerChangeHandler"
      PageSizeOptions="@PageSizeOptions"
      @ref="@GridWrapperRef"
      TItem="PaymentSpecResp"
      TotalItemsCount="@TotalItemsCount">
    <Columns>
      <RadzenDataGridColumn Property="@Str.Name" TItem="PaymentSpecResp" Title="@Str.Name"/>
      <RadzenDataGridColumn Property="@Str.CurrencyCode" TItem="PaymentSpecResp" Title="@Str.CurrencyCodeField">
        <Template>
          @_currencyCodes.SymbolizeCurrency(context.CurrencyCode)
        </Template>
      </RadzenDataGridColumn>
      <RadzenDataGridColumn Property="@Str.Tags" TItem="PaymentSpecResp" Title="@Str.Tags"/>
    </Columns>
  </RadzenDataGridWrapper>
</main>
