@inherits LayoutComponentBase

@code {
  private bool _isSideBarExpanded = true;

  private void ToggleSideBar() => _isSideBarExpanded = !_isSideBarExpanded;

  private static class Str
  {
    public const string HeaderLabel = "OnlineMinion.Web";
  }

}

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body' 'rz-footer'">
  <RadzenHeader>
    <RadzenRow AlignItems="@AlignItems.Center" JustifyContent="@JustifyContent.SpaceBetween">
      <RadzenStack
          AlignItems="@AlignItems.Center"
          JustifyContent="@JustifyContent.SpaceBetween"
          Orientation="@Orientation.Horizontal">
        <RadzenSidebarToggle Click="@ToggleSideBar"/>
        <RadzenLabel Text="@Str.HeaderLabel"/>
      </RadzenStack>

      <div class="rz-p-4">
        <RadzenLink Path="https://learn.microsoft.com/aspnet/core" Target="_blank" Text="About"/>
      </div>
    </RadzenRow>

  </RadzenHeader>

  <RadzenSidebar @bind-Expanded="@_isSideBarExpanded">
    <div class="rz-p-4">
      <NavMenu/>
    </div>
  </RadzenSidebar>

  <RadzenBody>
    <div class="rz-p-4">
      @Body
    </div>
  </RadzenBody>

  <RadzenFooter>
    <RadzenStack AlignItems="@AlignItems.Center" JustifyContent="@JustifyContent.Center">
      Lorem ipsum footer
    </RadzenStack>
  </RadzenFooter>
</RadzenLayout>
