@page "/account-specs"
@using OnlineMinion.Application.Contracts.AccountSpec.Requests
@using OnlineMinion.Application.Contracts.AccountSpec.Responses
@using OnlineMinion.SPA.Blazor.ViewModels
@inherits BaseCRUDPage<AccountSpecResp, AccountSpecResp, BaseUpsertAccountSpecReqData>

@code
{
  protected override RenderFragment RenderEditorComponent(BaseUpsertAccountSpecReqData editVM, IEditorMetadata<AccountSpecResp>? _) =>
    @<CascadingValue IsFixed="@true" Value="@CT">
      <AccountSpecsEditor
          Model="@editVM"
          OnCancel="@CloseEditorDialog"
          OnSubmit="@OnUpsertSubmitHandlerAsync"
          @ref="@_editorRef"/>
    </CascadingValue>;

  private static class Str
  {
    public const string PageTitle = "Account Specs";
    public const string MainHeading = "Manage Account Specifications";

    public const string MainDescription =
      @"For streaming request response demo purposes, API server sends each item after 20ms delay. Page is configured to add each individual item into the table as soon as it arrives from server.
        It means that you can roghly see, how the table is populated with data as it arrives from server. To make this loading visible, Blazor is set to refresh the pages state after each item is added.";

    public const string Name = nameof(AccountSpecResp.Name);
    public const string Group = nameof(AccountSpecResp.Group);
    public const string Description = nameof(AccountSpecResp.Description);
  }

}

<AppPageTitle Text="@Str.PageTitle"/>

<main>
  <RadzenText class="rz-mt-4" Text="@Str.MainHeading" TextStyle="TextStyle.H3"/>
  <RadzenText Style="white-space: pre-line;" Text="@Str.MainDescription"/>
  <RadzenDataGridWrapper
      AddClick="@OnAddHandler"
      Data="@ViewModels"
      DeleteClick="@OnDeleteHandlerAsync"
      EditClick="@OnEditHandler"
      LoadData="@OnLoadDataHandlerAsync"
      Page="@PagerChangeHandler"
      PageSizeOptions="@PageSizeOptions"
      @ref="@GridWrapperRef"
      TItem="AccountSpecResp"
      TotalItemsCount="@TotalItemsCount">
    <Columns>
      <RadzenDataGridColumn Property="@Str.Name" TItem="AccountSpecResp" Title="@Str.Name"/>
      <RadzenDataGridColumn Property="@Str.Group" TItem="AccountSpecResp" Title="@Str.Group"/>
      <RadzenDataGridColumn Property="@Str.Description" TItem="AccountSpecResp" Title="@Str.Description"/>
    </Columns>
  </RadzenDataGridWrapper>
</main>
