@page "/payment-specs"
@using OnlineMinion.SPA.Blazor.CurrencyInfo.ViewModels
@using OnlineMinion.SPA.Blazor.ViewModels
@using OnlineMinion.SPA.Blazor.ViewModels.PaymentSpec
@using OnlineMinion.Application.Contracts.PaymentSpecShared.Requests
@using OnlineMinion.Application.Contracts.PaymentSpecShared.Responses
@inherits BaseCRUDPage<PaymentSpecResp, PaymentSpecResp, BaseUpsertPaymentSpecReqData>

@code
{
  protected override RenderFragment RenderEditorComponent(
    BaseUpsertPaymentSpecReqData editVM,
    IEditorMetadata<PaymentSpecResp>? metadata) =>
      @<CascadingValue IsFixed="@true" Value="@CT">
        <PaymentSpecCashEditor
            CurrencyInfoVMs="_currencyCodes"
            Metadata="@((UpdatePaymentSpecEditorMetadata?)metadata)"
            Model="@editVM"
            OnCancel="@CloseEditorDialog"
            OnSubmit="@OnUpsertSubmitHandlerAsync"
            @ref="@_editorRef"/>
      </CascadingValue>;

  private static class Str
  {
    public const string PageTitle = "Payment Specs";
    public const string MainHeading = "Payment Specifications (all)";
    public const string MainDescription = "Manage all Payment Specifications";
    public const string Name = nameof(PaymentSpecResp.Name);
    public const string Type = nameof(PaymentSpecResp.Type);
    public const string CurrencyCode = nameof(PaymentSpecResp.CurrencyCode);
    public const string CurrencyCodeField = "Currency";
    public const string Tags = nameof(PaymentSpecResp.Tags);
  }
}

<AppPageTitle Text="@Str.PageTitle"/>

<main>
  <RadzenText class="rz-mt-4" Text="@Str.MainHeading" TextStyle="TextStyle.H3"/>
  <RadzenText Text="@Str.MainDescription"/>
  <RadzenDataGridWrapper
      AddClick="@OnAddHandler"
      Data="@ViewModels"
      DeleteClick="@OnDeleteHandlerAsync"
      EditClick="@OnEditHandler"
      LoadData="@OnLoadDataHandlerAsync"
      Page="@PagerChangeHandler"
      PageSizeOptions="@PageSizeOptions"
      @ref="@GridWrapperRef"
      TItem="PaymentSpecResp"
      TotalItemsCount="@TotalItemsCount">
    <Columns>
      <RadzenDataGridColumn
          Filterable="@false"
          Groupable="@false"
          Property="@Str.Type"
          Sortable="@false"
          TItem="PaymentSpecResp"
          Title="@Str.Type"
          Type="@typeof(string)"
          Width="100px">
        <Template>
          @GetTypeName(context.Type)
        </Template>
      </RadzenDataGridColumn>
      <RadzenDataGridColumn Property="@Str.Name" TItem="PaymentSpecResp" Title="@Str.Name"/>
      <RadzenDataGridColumn Property="@Str.CurrencyCode" TItem="PaymentSpecResp" Title="@Str.CurrencyCodeField">
        <Template>
          @_currencyCodes.SymbolizeCurrency(context.CurrencyCode)
        </Template>
      </RadzenDataGridColumn>
      <RadzenDataGridColumn Property="@Str.Tags" TItem="PaymentSpecResp" Title="@Str.Tags"/>
    </Columns>
  </RadzenDataGridWrapper>
</main>
