@page "/transactions/credit"
@using static Common.Utilities.TypeMemberHelpers;
@using static CurrencyInfo.ViewModels.CurrencyInfoExtensions;
@using OnlineMinion.SPA.Blazor.Transaction.Credit.ViewModels
@inherits BaseCRUDPage<
            TransactionCreditListItem,
            OnlineMinion.Contracts.Transactions.Credit.Responses.TransactionCreditResp,
            BaseTransactionCreditUpsertVM
            >;

@code
{
  protected override RenderFragment RenderEditorComponent() =>
    @<CascadingValue IsFixed="@true" Value="@CT">
      <TransactionCreditsEditor
          Model="@UpsertVM"
          OnCancel="@CloseEditorDialog"
          OnSubmit="@OnUpsertSubmitHandlerAsync"
          PaymentSpecDescriptors="@_paymentDescriptorViewModels"
          @ref="@_editorRef"/>
    </CascadingValue>;

  private static class Str
  {
    public const string PageTitle = "Credit trans";
    public const string MainHeading = "Credit Transactions";
    public const string MainDescription = $"Manage {MainHeading}";
    public const string Date = nameof(TransactionCreditListItem.Date);
    public const string Amount = nameof(TransactionCreditListItem.Amount);
    public const string Subject = nameof(TransactionCreditListItem.Subject);
    public const string Party = nameof(TransactionCreditListItem.Party);
    public const string PaymentInstrumentField = "paymnt. opt.";
    public const string Tags = nameof(TransactionCreditListItem.Tags);

    public static readonly string PaymentInstrumentName = NestedNameOf<TransactionCreditListItem>(
      x => x.PaymentInstrument.Name
      );
  }
}

<AppPageTitle Text="@Str.PageTitle"/>

<main>
  <RadzenText class="rz-mt-4" Text="@Str.MainHeading" TextStyle="TextStyle.H3"/>
  <RadzenText Text="@Str.MainDescription"/>
  <RadzenDataGridWrapper
      AddClick="@OnAddHandler"
      Data="@ViewModels"
      DeleteClick="@OnDeleteHandlerAsync"
      EditClick="@OnEditHandler"
      LoadData="@OnLoadDataHandlerAsync"
      Page="@PagerChangeHandler"
      PageSizeOptions="@PageSizeOptions"
      @ref="@GridWrapperRef"
      TItem="TransactionCreditListItem"
      TotalItemsCount="@TotalItemsCount">
    <Columns>
      <RadzenDataGridColumn Property="@Str.Date" TItem="TransactionCreditListItem" Title="@Str.Date"/>
      <RadzenDataGridColumn Property="@Str.Amount" TItem="TransactionCreditListItem" Title="@Str.Amount">
        <Template>
          @FormatCurrencyAmount(context.Amount, context.PaymentInstrument.CurrencyCode)
        </Template>
      </RadzenDataGridColumn>
      <RadzenDataGridColumn Property="@Str.Subject" TItem="TransactionCreditListItem" Title="@Str.Subject"/>
      <RadzenDataGridColumn Property="@Str.Party" TItem="TransactionCreditListItem" Title="@Str.Party"/>
      <RadzenDataGridColumn
          Property="@Str.PaymentInstrumentName"
          TItem="TransactionCreditListItem"
          Title="@Str.PaymentInstrumentField"/>
      <RadzenDataGridColumn Property="@Str.Tags" TItem="TransactionCreditListItem" Title="@Str.Tags"/>
    </Columns>
  </RadzenDataGridWrapper>
</main>
